# libscrc==1.5 # installed via git below
git+https://github.com/hex-in/libscrc.git@v1.5
numpy==1.19.5
psutil==5.8.0
pyqtgraph==0.11.1
pyserial==3.5
pyserial-asyncio==0.5
# PySide2==5.15.2 # installed via apt
pytest==6.2.1
# shiboken2==5.15.2 # shiboken2 is a dependancy for PySide2, however, with Pyside2 installed via apt is no longer needed.
# virtualenv==20.4.0 # installed via ansible