{% set charts_active = True %}
{% extends 'base.html' %}



{% block fan_classes %}
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->
    <div class = "row">


      <div class = "col-md-11 mr-2">
	<div class="row">
              <!-- <div class="card-chart-header small ">Pressure [mbar]</div> -->
              <div class="main-chart-container"><canvas id="pressure_chart"></canvas></div>
	</div>
	<div class = "row">
              <!-- <div class="card-chart-header small">Flow [mL/min]</div> -->
	      <div class="main-chart-container"><canvas id="flow_chart"></canvas></div>
	</div>
	<div class = "row">
	      <!-- <div class="card-chart-header small ">Volume [mL]</div> -->
	      <div class="main-chart-container"><canvas id="volume_chart"></canvas></div>
	</div>
      </div>
    
      
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>


<script>
function setActiveClass() {
  var element = document.getElementById("fan-icon");
  element.classList.add("active");
}
</script>
{% endblock %}
