<!--
// © Copyright CERN, Riga Technical University and University of Liverpool 2020.
// All rights not expressly granted are reserved. 
// 
// This file is part of hev-sw.
// 
// hev-sw is free software: you can redistribute it and/or modify it under
// the terms of the GNU General Public Licence as published by the Free
// Software Foundation, either version 3 of the Licence, or (at your option)
// any later version.
// 
// hev-sw is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
// FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public Licence
// for more details.
// 
// You should have received a copy of the GNU General Public License along
// with hev-sw. If not, see <http://www.gnu.org/licenses/>.
// 
// The authors would like to acknowledge the much appreciated support
// of all those involved with the High Energy Ventilator project
// (https://hev.web.cern.ch/).
-->
{% set charts_active = True %}
{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->
    <div class = "row">
      <div class = "col-md-12 py-0 px-3">
	<div class="row">
              <!-- <div class="card-chart-header small ">Pressure [mbar]</div> -->
              <canvas id="pressure_chart" width="100%" height="15"></canvas>
	</div>
	<div class="row">
              <!-- <div class="card-chart-header small ">Pressure [mbar]</div> -->
              <canvas id="flow_chart" width="100%" height="15"></canvas>
	</div>
	<div class="row">
              <!-- <div class="card-chart-header small ">Pressure [mbar]</div> -->
              <canvas id="volume_chart" width="100%" height="15"></canvas>
	</div>

      </div>
    </div>
    
      
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='js/Chart-display2.js') }}"></script> -->
{% endblock %}
