<!--
// © Copyright CERN, Riga Technical University and University of Liverpool 2020.
// All rights not expressly granted are reserved. 
// 
// This file is part of hev-sw.
// 
// hev-sw is free software: you can redistribute it and/or modify it under
// the terms of the GNU General Public Licence as published by the Free
// Software Foundation, either version 3 of the Licence, or (at your option)
// any later version.
// 
// hev-sw is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
// FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public Licence
// for more details.
// 
// You should have received a copy of the GNU General Public License along
// with hev-sw. If not, see <http://www.gnu.org/licenses/>.
// 
// The authors would like to acknowledge the much appreciated support
// of all those involved with the High Energy Ventilator project
// (https://hev.web.cern.ch/).
-->
{% set chartsLoop_active = True %}
{% extends 'base.html' %}
{% block content %}
<main>
  <div class="container-fluid">
    <div class = "row mb-6">
      <div class = "col-md-6 py-0 px-3">
        <canvas id="pressure_volume_chart" width="45%" height="22"></canvas>
      </div>
      <div class = "col-md-6 py-0 px-3">
        <canvas id="flow_volume_chart" width="45%" height="22"></canvas>
        <!-- <div class="card-chart-header small ">Pressure [mbar]</div> -->
      </div>
    </div>
    <div class = "row mb-6">
      <div class = "col-md-6 py-0 px-3">
	<canvas id="pressure_flow_chart" width="45%" height="22"></canvas>
      </div>
      <div class = "col-md-6 py-0 px-3">	
	<button id="LoopHoldButton" type="button" onclick="HoldLoop()"> <h1>Hold after Loop</h1> </button>
	<br>
	<button id="LoopStartButton" type="button" onclick="RunLoop()" disabled> <h1>Restart Loop</h1> </button>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='js/Chart-displayLoop.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/HevUpdater.js') }}"></script> -->
{% endblock %}
