{% set charts_active = True %}
{% extends 'base.html' %}

{% block fan_classes %}
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->
    <div class = "row">


      <div class = "col-md-10 py-0">
	<div class="row">
          <div class="col-md-12">
            <div class="card mb-6">
              <div class="card-chart-header small ">Pressure [mbar]</div>
              <div class="card-body px-0 py-0"><canvas id="pressure_chart" width="200%" height="30"></canvas></div>
            </div>
          </div>
	</div>
	<div class = "row">
          <div class="col-md-12">
            <div class="card mb-6 px-0 py-0">
              <div class="card-chart-header small">Flow [mL/min]</div>
	      <div class="card-body px-0 py-0"><canvas id="flow_chart" width="200%" height="30"></canvas></div>
	    </div>
	  </div>
	</div>
	<div class = "row">
	  <div class="col-md-12">
	    <div class="card mb-6 px-0 py-0">
	      <div class="card-chart-header small ">Volume [mL]</div>
	      <div class="card-body px-0 py-0"><canvas id="volume_chart" width="200%" height="30"></canvas></div>
	    </div>
	  </div>
	</div>
      </div>
    
      
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script>
function setActiveClass() {
  var element = document.getElementById("fan-icon");
  element.classList.add("active");
}
</script>
{% endblock %}
