{% set prototype_active = True %}
{% extends 'base.html' %}

{% block fan_classes %}
{% endblock %}

{% block content %}
<main>

  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->
    <div class = "row">
    	<div class = "col-charts-main">
		<div class="col-md-12">
			<div class="row col-center pb-1">
				<select id='chart_variables' multiple="multiple" class="form-select">
					<option value='pressure_air_supply' selected>Air (supply)</option>
					<option value='pressure_air_regulated' selected>Air (regulated)</option>
					<option value='pressure_o2_supply' selected>O2 (supply)</option>
					<option value='pressure_o2_regulated' selected>O2 (regulated)</option>
        			<option value='pressure_buffer' selected>Buffer</option>
			        <option value='pressure_inhale' selected>Inhale</option>
					<option value='temperature_buffer' selected>temperature_buffer</option> 
					<option value='pressure_patient' selected>Patient</option>
					<option value='pressure_diff_patient' selected>Patient (diff)</option>
					<!-- VICTOR test -->
					<option value='airway_pressure' selected>airway_pressure</option>
					<option value='volume' selected>volume</option>
					<option value='flow' selected>flow</option>
				</select>
	        	<input class="form-button" type="button" value="Submit" onclick="updateChartType()">
			</div>
			<div class="row">
	    	          <!--<div class="card-chart-header small ">Variable number 1</div>-->
					  <div class="proto-chart-container"><canvas id="pressure_air_supply_chart"></canvas></div>
			</div>
			<div class = "row">
				<div class = "range-button-container ml-auto mr-auto">
					<input type="button" class="lockable sb-nav-button" name="fivesecs"   value="5s"  onclick="setChartProtXaxisRange_wrapper(this,-5,0)"  disabled>
					<input type="button" class="lockable sb-nav-button" name="thirtysecs" value="30s" onclick="setChartProtXaxisRange_wrapper(this,-30,0)" disabled>
					<input type="button" class="lockable sb-nav-button" name="sixtysecs"  value="60s" onclick="setChartProtXaxisRange_wrapper(this,-60,0)" disabled>
					<input type="button" class="lockable sb-nav-button" name="ninetysecs" value="90s" onclick="setChartProtXaxisRange_wrapper(this,-90,0)" disabled>
				</div>
			</div>	
		</div>
	</div>
		<div class = "col-cards-main">
			<div class = "row">
		  	  <div class="card-reading-proto">
	        	      <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
				    	  <a class="small text-dark stretched-link col-center" href="#">State</a>
	        	      </div>
	            	  <div class="card-body px-1 py-1"><span class = "reading-main" id="fsm_state">IDLE</span></div>
				</div>
			    <div class="card-reading-proto">
      		  	    <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
						<a class="tiny text-dark stretched-link col-center" href="#">Air (suppply) [cmH2O]</a>
	       		     </div>
            	  <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_air_supply">000.00</span></div>
		    	</div>

				<div class="card-reading-proto">
					  <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
							<a class="tiny text-dark stretched-link col-center" href="#">Air (regulated) [cmH2O]</a>
					  </div>
					  <div class="card-body px-1 py-1"><span class = "reading-main" id="pressure_air_regulated">000.00</span></div>
				</div>
		  
				<div class="card-reading-proto">
					  <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
							<a class="tiny text-dark stretched-link col-center" href="#">O2 (suppply) [cmH2O]</a>
					  </div>
					  <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_o2_supply">000.00</span></div>
				</div>	  
				<div class="card-reading-proto">
					  <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
							<a class="tiny text-dark stretched-link col-center" href="#">O2 (regulated) [cmH2O]</a>
					  </div>
					  <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_o2_regulated">000.00</span></div>
				</div>
	  
			    <div class="card-reading-proto">
	    	        <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
						<a class="small text-dark stretched-link col-center" href="#">Buffer [cmH2O]</a>
		            </div>
		            <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_buffer">000.00</span></div>
			    </div>
	  
				<div class="card-reading-proto">
	        		<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
			      		<a class="small text-dark stretched-link col-center" href="#">Inhale [mbar]</a>
		            </div>
		            <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_inhale">000.00</span></div>
			  	</div>
				<div class="card-reading-proto">
    	    		<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
				    	<a class="small text-dark stretched-link col-center" href="#">Patient [cmH2O]</a>
		            </div>
    	 			<div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_patient">000.00</span></div>
			  	</div>
			  	<div class="card-reading-proto">
	    	       	<div class="card-header d-flex align-items-center justify-content-between py-1 small min-height-1b">
		      			<a class="small text-dark stretched-link col-center" href="#">Patient (diff) [cmH2O]</a>
	        		</div>
	        	    <div class="card-body px-1 py-1"><span class = "reading-main" id = "pressure_diff_patient">000.00</span> </div>
			  	</div>

				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
					  <a class="small text-dark stretched-link col-center" href="#">Pressure [mbar]</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "airway_pressure">000.00</span></div>
				</div>
				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
					  <a class="small text-dark stretched-link col-center" href="#">Flow [mL/min]</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "flow">000.00</span></div>
				</div>
			
				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 small min-height-1b">
						<a class="small text-dark stretched-link col-center" href="#">Volume [mL]</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "volume">000.00</span></div>
				</div>

				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
					<a class="small text-dark col-center" href="#">Data type</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "data_type">000.00</span></div>
				</div>
				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
					<a class="small text-dark col-center" href="#">Timestamp [s]</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "timestamp">000.00</span></div>
				</div>
			
				<div class="card-reading-proto">
					<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
						<a class="small text-dark col-center" href="#">Version</a>
					</div>
					<div class="card-body px-1 py-1"><span class = "reading-main" id = "version">000.00</span></div>
				</div>	
			</div>
    	</div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Chart-plot.js') }}"></script>
<script type=text/javascript>
  function toggle_lock_settings() {
  setTimeout(function(){
  var x = document.getElementsByClassName("form-control");
  var i;
  if ( x.length > 0 && x[0].readOnly == true ){
  for (i = 0; i < x.length; i++) {
		  if (x[i].id != "form_submit"){
		     x[i].readOnly = false;
		  }
		  else{
		     x[i].disabled=false;
		  }
		  var submit = document.getElementById("form_submit");
		  submit.disabled=false;
		  }
          var el = document.getElementById("path-locked");
          el.classList.add("transparent");
		  var el2 = document.getElementById("path-unlocked");
		  el2.classList.remove("transparent");

		  } else {
		  for (i = 0; i < x.length; i++ ) {
			if (x[i].id != "form_submit"){
			x[i].readOnly = true;
			}
		    else {x[i].disabled=true; }
				  
		    var submit = document.getElementById("form_submit");
		    submit.disabled=true;
		    var el = document.getElementById("path-unlocked");
		    el.classList.add("transparent");
		    var el2 = document.getElementById("path-locked");
		    el2.classList.remove("transparent");		  
		  }
		  }
	500})
    }				 
</script>

<script type=text/javascript>
/*
	function update_variables() {
	$.getJSON("live-data",
		function (data) {
		document.getElementById("pressure_buffer").innerHTML = (data.pressure_buffer).toFixed(2);
		document.getElementById("pressure_inhale").innerHTML = (data.pressure_inhale).toFixed(2);
		//document.getElementById("temperature_buffer").innerHTML = (data.temperature_buffer).toFixed(2);
		document.getElementById("pressure_air_supply").innerHTML = (data.pressure_air_supply).toFixed(2);
		document.getElementById("pressure_air_regulated").innerHTML = (data.pressure_air_regulated).toFixed(2);
		document.getElementById("pressure_o2_supply").innerHTML = (data.pressure_o2_supply).toFixed(2);
		document.getElementById("pressure_o2_regulated").innerHTML = (data.pressure_o2_regulated).toFixed(2);
		document.getElementById("pressure_patient").innerHTML = (data.pressure_patient).toFixed(2);
		document.getElementById("pressure_diff_patient").innerHTML = (data.pressure_diff_patient).toFixed(2);	
		document.getElementById("fsm_state").innerHTML = data.fsm_state;
		document.getElementById("airway_pressure").innerHTML = (data.airway_pressure).toFixed(2);	
		document.getElementById("volume").innerHTML = (data.volume).toFixed(2);	
		document.getElementById("flow").innerHTML = (data.flow).toFixed(2);	
		document.getElementById("data_type").innerHTML = data.data_type;
		document.getElementById("timestamp").innerHTML = (data.timestamp/1000).toFixed(2);
		document.getElementById("version").innerHTML = data.version; 
		//document.getElementById("version").innerHTML = (data.version).toFixed(2); //Commented because not included in the html part
		}
	);
	}
	setInterval('update_variables()', 1000);
*/
  </script>
  

	{% endblock %}
	{% block body_scripts %}

		<script src="{{ url_for('static', filename='js/Chart-plot.js') }}"></script>
		
    <script>
      function setChartProtXaxisRange_wrapper(element,min,max){
      if (!element.disabled){ setChartProtXaxisRange(min,max);  }
      }
    
      
    
    </script>		
	{% endblock %}
