{% set fan_active = True %}
{% extends 'base.html' %}

{% block fan_classes %}
{% endblock %}

{% block content %}
<main>

  <div class="container-fluid">
    <div class = "row">
      <div class = "col-charts-main">
	<!-- chart on left -->
	      <div class="row">
		<div class="col-md-12">
		    <div class = "main-chart-container"><canvas id="pressure_chart"></canvas></div>
		</div>
	      </div>
	      <div class = "row">
		<div class="col-md-12">
		  <div class="main-chart-container"><canvas id="flow_chart"></canvas></div>
		</div>
	      </div>
	      <div class = "row">
		<div class="col-md-12">
		  <div class = "main-chart-container"><canvas id="volume_chart"></canvas></div>
		</div>
	      </div>
	      
	      <div class = "row">
		  <div class = "range-button-container ml-auto mr-auto">
		    <input type="button" class="lockable sb-nav-button" name="fivesecs" value="5s" onclick="setChartXaxisRange_wrapper(this,-5,0)" disabled>
		    <input type="button" class="lockable sb-nav-button" name="thirtysecs" value="30s" onclick="setChartXaxisRange_wrapper(this,-30,0)" disabled>
		    <input type="button" class="lockable sb-nav-button" name="sixtysecs" value="60s" onclick="setChartXaxisRange_wrapper(this,-60,0)" disabled>
		    <input type="button" class="lockable sb-nav-button" name="ninetysecs" value="90s" onclick="setChartXaxisRange_wrapper(this,-90,0)" disabled>
		  </div>
	      </div>
      </div>
      <div class = "col-cards-main">
	<div class = "row">
	<!---- row 1 -->
	    <div class="card-input-reading">
              <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		      <span class="small text-dark col-center" href="#">Mode</span>
              </div>
	      <!--<div class="small ml-auto mr-auto">PC-A/C</div>-->
              <div class="card-body px-1 py-1">
		<div class = "select-container lockable" disabled>
		  <select class = "input-reading ml-auto mr-auto input-editable pickout" name="VentilatorMode" id="vent_mode" pickouttitle="Select Ventilator Mode" width="10%">
		  <option value = ""></option>
		  <optgroup label = "Pressure Control Modes">
		    <option value="opt1" selected>PC-A/C</option>
		    <option value="opt2">PC-A/C-PRVC</option>
		  </optgroup>
		  <optgroup label = "Pressure Support Modes">
		    <option value="opt3">PC-PSV</option>
		    <option value="opt4">CPAP</option>
		  </optgroup>
		  </select>
		  </div>
	      </div>
	  </div>

	    <div class="card-input-reading">
              <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">FIO<sub>2</sub> <small>[cmH2O]</small> </a>
              </div>
			  <!-- <div class="card-body px-1 py-1 tiny ml-auto mr-auto"><input class = "input-reading py-0" id = "fio2" value="62" type="number" readOnly disabled>%</div> -->
			  <div class = "main-chart-container lockable" id = "gauge-fio-container" onclick="show_easy_numpad(this, fio_controller);lock();"><canvas id="gauge_fio"></canvas></div>
	  </div>

	
	  <div class="card-input-reading">
		<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
	  <a class="small text-dark col-center" href="#">P<sub>Plateau</sub> <small>[cmH2O</small> </a><br>
		</div>
		<!-- <div class="card-body px-1 py-1 tiny ml-auto mr-auto"><input class = "input-reading" id = "p_plateau" value=4.0 readOnly disabled>cmH2O</div> -->
		<div class = "main-chart-container lockable" id = "gauge-pplateau-container" onclick = "show_easy_numpad(this, p_plateau_controller);lock();"><canvas id="gauge_p_plateau"></canvas></div>
	</div>

	    <div class="card-reading">
	      <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">P<sub>Peak</sub> <small>[cmH20]</small></a>
	      </div>
		  <div class="card-body px-1 py-1 tiny"><input class = "input-reading" id="p_peak" readOnly disabled value=20.0></div> 
	    </div>
	
	<!--- end row 1 -->

	<!-- row 2 -->
	    <div class="card-reading">
	      <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">P<sub>Mean</sub> <small>[cmH2O]</small></a>
	      </div>
	      <div class="card-body px-1 py-1 tiny"><div class = "vertical-align"><input class = "input-reading" id = "p_mean" value=13.0 readOnly disabled></div></div>
	  </div>

	    <div class="card-reading">
	      <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">PEEP<small>[cmH20]</small></a>
	      </div>
	      <div class="card-body px-1 py-1 tiny"><input class = "input-reading input-editable" name = "PEEP" id = "PEEP_input" value=5 readOnly disabled onclick="show_easy_numpad(this,peep_controller)"></div>
	    </div>


	<!-- end row 2 -->

	<!-- row 3 -->


	    <div class="card-reading">
              <div class="card-header d-flex align-items-center justify-content-between small py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">VTI <small>[mL]</small></a>
              </div>
              <div class="card-body px-1 py-1 tiny"><input class = "input-reading" id = "vti" value=285 readOnly disabled></span></div>
	  </div>
	    <div class="card-reading">
              <div class="card-header d-flex align-items-center justify-content-between small py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">VTE <small>[mL]</small></a>
              </div>
              <div class="card-body px-1 py-1 tiny"><input class = "input-reading" id = "vte" value=273 readOnly disabled></div>
	    </div>
	    
	    <div class="card-reading">
              <div class="card-header d-flex align-items-center justify-content-between py-1 small min-height-1b">
		<a class="small text-dark col-center" href="#">MVI <small>[L/min]</small></a>
              </div>
              <div class="card-body px-1 py-1 tiny"><input class = "input-reading" id = "mvi" value=6.5 readOnly disabled></div>
	    </div>
	    


	<!-- row 4 -->


	    <div class="card-reading">
              <div class="card-header d-flex align-items-center justify-content-between py-1 small min-height-1b">
		<a class="small text-dark col-center" href="#">MVE <small>[L/min]</small></a>
              </div>
              <div class="card-body px-1 py-1 tiny"><input class = "input-reading" id = "mve" value=6.0 readOnly disabled></div>
	    </div>
	    
	    <div class="card-reading">
              <div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
		<a class="small text-dark col-center" href="#">I:E</a>
              </div>
              <div class="card-body px-1 py-1 tiny"><input class = "input-reading input-editable" id = "ie_ratio_input" value=1.3 readOnly disabled onclick="show_easy_numpad(this,ie_ratio_controller)"> </div>
	    </div>
	</div>
	<!-- end row 4 -->
    </div>
</div>
</div>
</div>
</main>
{% endblock %}

{% block scripts %}

<script type=text/javascript>
/*
	function update_variables() {
	$.getJSON("live-data",
		function (data) {
		document.getElementById("pressure_buffer").innerHTML = data.pressure_buffer.toPrecision(5);
		document.getElementById("pressure_inhale").innerHTML = data.pressure_inhale.toPrecision(5);
	//document.getElementById("temperature_buffer").innerHTML = data.temperature_buffer.toPrecision(5);
		document.getElementById("pressure_air_supply").innerHTML = data.pressure_air_supply.toPrecision(5);
		document.getElementById("pressure_air_regulated").innerHTML = data.pressure_air_regulated.toPrecision(5);
		document.getElementById("pressure_o2_supply").innerHTML = data.pressure_o2_supply.toPrecision(5);
		document.getElementById("pressure_o2_regulated").innerHTML = data.pressure_o2_regulated.toPrecision(5);
		document.getElementById("pressure_patient").innerHTML = data.pressure_patient.toPrecision(5);
		document.getElementById("pressure_diff_patient").innerHTML = data.pressure_diff_patient.toPrecision(5);
		document.getElementById("fsm_state").innerHTML = data.fsm_state.toPrecision(1);
		//document.getElementById("version").innerHTML = data.version.toPrecision(1); //Commented because not included in the html part

	//document.getElementById("pressure_buffer").innerHTML = (data.pressure_buffer).toFixed(2);
		//document.getElementById("pressure_inhale").innerHTML = (data.pressure_inhale).toFixed(2);
//document.getElementById("temperature_buffer").innerHTML = (data.temperature_buffer).toFixed(2);
		//document.getElementById("pressure_air_supply").innerHTML = (data.pressure_air_supply).toFixed(2);
		//document.getElementById("pressure_air_regulated").innerHTML = (data.pressure_air_regulated).toFixed(2);
		//document.getElementById("pressure_o2_supply").innerHTML = (data.pressure_o2_supply).toFixed(2);
		//document.getElementById("pressure_o2_regulated").innerHTML = (data.pressure_o2_regulated).toFixed(2);
//document.getElementById("pressure_patient").innerHTML = (data.pressure_patient).toFixed(2);
		//document.getElementById("pressure_diff_patient").innerHTML = (data.pressure_diff_patient).toFixed(2);
//document.getElementById("fsm_state").innerHTML = (data.fsm_state).toFixed(2);
		//document.getElementById("version").innerHTML = (data.version).toFixed(2); //Commented because not included in the html part
		}
	);
	}
	setInterval('update_variables()', 1000);
*/	

  </script>



	{% endblock %}
	{% block body_scripts %}

<script src="{{ url_for('static', filename='js/Chart-display.js') }}"></script>

<script>
  function setChartXaxisRange_wrapper(element,min,max){
  if (!element.disabled){ setChartXaxisRange(min,max);  }
  }
//document.getElementById("gauge-fio-container").doChange = function(value){
//	setGaugeValue("gauge-fio", value);
//}
//document.getElementById("gauge-fio-container").getValue = function(value){
//	return getGaugeValue("gauge-fio");
//}

// set up controllers that get and set values for the gauges, names and functions defined in Chart-display.js
class gauge_controller {
  constructor(name) {
    this.name = name;
  }
  getName(){ return this.name;}
  getValue() {
    return getGaugeValue(this.name);
  }
  setValue(val){
	  setGaugeValue(this.name,val);
  }
  getMin(){
	  return getGaugeMinValue(this.name);
  }
  getMax(){
	  return getGaugeMaxValue(this.name);
  }
}

class input_controller{
	constructor(name, element) {
    this.name = name;
	this.element = element;
  }
  getName(){ return this.name;}
  getValue() {
    return this.element.value;
  }
  setValue(val){
	  this.element.value = val;
  }
  getMin(){
	  if (this.element.min) return this.element.min;
	  else return null;
  }
  getMax(){
	  if (this.element.max) return this.element.max;
	  else return null;
  }
}



fio_controller       = new gauge_controller("fio_gauge");
p_plateau_controller = new gauge_controller("p_plateau_gauge");

var peep_input = document.getElementById("PEEP_input");
peep_controller = new input_controller("peep", peep_input);
var ie_ratio_input = document.getElementById("ie_ratio_input");
ie_ratio_controller = new input_controller("ie_ratio", ie_ratio_input);

/*
var gauge_fio_container = document.getElementById("gauge-fio-container");
Object.defineProperty(gauge_fio_container, 'doChange', {
  value: function(x){
	  setGaugeValue("fio_gauge",x);
	},
  configurable: true 
});
Object.defineProperty(gauge_fio_container, 'getValue', {
  value: function(){
	  return getGaugeValue("fio_gauge");
	},
  configurable: true 
});
*/

  pickout.to({
  el:'.pickout',
  theme:'MySelector'
  });

</script>


{% endblock %}
