{% set fan_active = True %}
{% extends 'base.html' %}

{% block fan_classes %}
{% endblock %}

{% block content %}
<main>

  <div class="container-fluid">

    <div class="tab lockable" disabled>
	      <button class="tablinks" onclick="openTab(this, 'Main',false)">Main</button>
		  <button class="tablinks" onclick="openTab(this, 'Advanced',false)">Advanced</button>
    </div>
  
    <div id="Main" class="tabcontent px-0 py-0">
	    <div class = "row no-gutters">
	      	<div class = "col-charts-main">
				<!-- chart on left -->
			    <div class="row">
					<div class="col-md-12">
					    <div class = "main-chart-container"><canvas id="pressure_chart"></canvas></div>
					</div>
			    </div>
			    <div class = "row no-gutters">
					<div class="col-md-12">
					  <div class="main-chart-container"><canvas id="flow_chart"></canvas></div>
					</div>
		    	</div>
			    <div class = "row no-gutters">
					<div class="col-md-12">
						  <div class = "main-chart-container"><canvas id="volume_chart"></canvas></div>
					</div>
			    </div>
			    <div class = "row">
					<div class = "range-button-container ml-auto mr-auto">
					    <input type="button" class="lockable sb-nav-button" name="fivesecs" value="5s" onclick="setChartXaxisRange_wrapper(this,-5,0)" disabled>
					    <input type="button" class="lockable sb-nav-button" name="thirtysecs" value="30s" onclick="setChartXaxisRange_wrapper(this,-30,0)" disabled>
					    <input type="button" class="lockable sb-nav-button" name="sixtysecs" value="60s" onclick="setChartXaxisRange_wrapper(this,-60,0)" disabled>
					    <input type="button" class="lockable sb-nav-button" name="ninetysecs" value="90s" onclick="setChartXaxisRange_wrapper(this,-90,0)" disabled>
					    <input type="button" class="lockable sb-nav-button" name="pause" value="Freeze" onclick="togglePause()" disabled>
					</div>
			    </div>
			  </div>
	     	<div class = "col-cards-main">
				 <div class = "row no-gutters">
					<div class = "main-header">
						Measurement
					</div>
				 </div>
				<div class = "row no-gutters">
			<!-- Mode status

				    <div class="card-reading">
		            	<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
					      <span class="small text-white col-center" href="#">Mode</span>
			            </div>
			            <div class="card-body px-1 py-1">
							<div class = "select-container lockable" disabled>
							  <select class = "input-reading ml-auto mr-auto pickout" name="VentilatorMode" id="vent_mode" pickouttitle="Select Ventilator Mode" width="10%">
								  <option value = ""></option>
								  <optgroup label = "Pressure Control Modes">
								    <option value="opt1" selected>PC-A/C</option>
								    <option value="opt2">PC-A/C-PRVC</option>
								  </optgroup>
								  <optgroup label = "Pressure Support Modes">
								    <option value="opt3">PC-PSV</option>
								    <option value="opt4">CPAP</option>
								  </optgroup>
							  </select>
							</div>
					      </div>
						</div>
            -->  
				    <div class="card-reading">
				    	<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
							<a class="small text-white col-center" href="#">RR</small></a>
					    </div>
						<div class="card-body px-1 py-1 tiny"><span class = "reading-main" id="respiratory_rate"></span></div> 
				    </div>

				    <div class="card-reading">
				    	<div class="card-header d-flex align-items-center justify-content-between py-1 min-height-1b">
							<a class="small text-white col-center" href="#">PEEP<small>[cmH20]</small></a>
					    </div>
					    <div class="card-body px-1 py-1 tiny"><span class = "reading-main" id = "peep"></span></div>
					</div>

				    <div class="card-reading">
		            	<div class="card-header d-flex align-items-center justify-content-between small py-1 min-height-1b">
							<a class="small text-white col-center" href="#">VTE <small>[mL]</small></a>
			            </div>
			            <div class="card-body px-1 py-1 tiny"><span class = "reading-main" id = "exhaled_tidal_volume"></span></div>
				    </div>
	    
					<div class="card-reading">
		            	<div class="card-header d-flex align-items-center justify-content-between py-1 small min-height-1b">
							<a class="small text-white col-center" href="#">MVE <small>[L/min]</small></a>
			            </div>
		            	<div class="card-body px-1 py-1 tiny"><span class = "reading-main" id = "exhaled_minute_volume"></span></div>
					</div>
				</div>
			</div>
			
			<div class = "col-settings-main">
				<div class = "row">
					<div class = "main-header text-dark">
						Target
					</div>
				</div>
				<div class = "row no-gutters">
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">Inhale Time <small>[s]</small></a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "setting_inhale_time" value = 0.0 onclick = "show_easy_numpad(this, new input_controller('INHALE_TIME',this))"></div> 
					</div>
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">RR</a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "setting_respiratory_rate" value=0.0 onclick="show_easy_numpad(this, new input_controller('RESPIRATORY_RATE',this));"></input></div> 
					</div>
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">PEEP <small>[cmH2O]</small></a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "setting_peep" value=0.0 onclick="show_easy_numpad(this,new input_controller('PEEP',this))"></div> 
					</div>
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">P<sub>Peak</sub> <small>[cmH20]</small></a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "setting_inspiratory_pressure" value=0.0 onclick="show_easy_numpad(this,new input_controller('INSPIRATORY_PRESSURE',this))"></div> 
					</div>
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">FIO<sub>2</sub> <small>[%]</small></a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "setting_fiO2_percent" value=0.0 onclick="show_easy_numpad(this,new input_controller('FIO2',this))"></div> 
					</div>
					<div class="card-setting">
						<div class="card-header d-flex align-items-center justify-content-between">
							<a class="small text-dark col-center" href="#">Inhale Rise Time <small>[s]</small></a>
						</div>
						<div class="card-body px-1 py-1 tiny"><input class = "setting-main lockable" id = "pid_gain" value=0.0 onclick="show_easy_numpad(this,new input_controller('PID_GAIN',this))"></div> 
					</div>


				</div>
			</div>
		</div>
	</div>

	<div id="Advanced" class="tabcontent">
		<div class = "row">
	    	<div class = "col py-0 px-3">
	        	<canvas id="pressure_volume_chart" width="45%" height="22"></canvas>
	    	</div>
	     		<div class = "col py-0 px-3">
		        <canvas id="flow_volume_chart" width="45%" height="22"></canvas>
		    </div>
	    </div>
	    <div class = "row">
	    	<div class = "col py-0 px-3">
				<canvas id="pressure_flow_chart" width="45%" height="22"></canvas>
		    </div>
		    <div class = "col py-0 px-3">	
			  	<button id="LoopHoldButton" type="button" onclick="HoldLoop()"> <h1>Hold after Loop</h1> </button>
			  	<br>
			  	<button id="LoopStartButton" type="button" onclick="RunLoop()" disabled> <h1>Restart Loop</h1> </button>
		    </div>
	    </div>
	</div>
</div>
</main>
{% endblock %}

{% block body_scripts %}

<script src="{{ url_for('static', filename='js/Chart-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart-displayLoop.js') }}"></script>
<script src="{{ url_for('static', filename='js/HevUpdater.js') }}"></script>

<script>
  function setChartXaxisRange_wrapper(element,min,max){
  if (!element.disabled){ setChartXaxisRange(min,max);  }
  }
//document.getElementById("gauge-fio-container").doChange = function(value){
//	setGaugeValue("gauge-fio", value);
//}
//document.getElementById("gauge-fio-container").getValue = function(value){
//	return getGaugeValue("gauge-fio");
//}

// set up controllers that get and set values for the gauges, names and functions defined in Chart-display.js
class gauge_controller {
  constructor(name) {
    this.name = name;
  }
  getName(){ return this.name;}
  getValue() {
    return getGaugeValue(this.name);
  }
  setValue(val){
	  setGaugeValue(this.name,val);
  }
  getMin(){
	  return getGaugeMinValue(this.name);
  }
  getMax(){
	  return getGaugeMaxValue(this.name);
  }
}

class input_controller{
	constructor(name, element) {
    	this.name = name;
		this.element = element;
	}

  	getName(){ return this.name;}
	getValue() {
	    return this.element.value;
	}

  	setValue(val){
	  var currentval = this.element.value;
	  var message = "Are you sure you want to update " + this.name + " from " + currentval + " to " + val;
	  var colour = this.element.style.color;
		var element = this.element;
		var target = this.name;
		var param = {}
		param[target] = val;

	  //var c = confirm(message);
	  $.confirm({
		title: 'Confirmation',
		content: message,
	    buttons: {
	        confirm: function () {
			  element.value = val;
			  element.style.color="red";
			  $.ajax({
			      url: "/current_target_handler",
			      type: 'POST',
			      data : param,
			      success: function(response){
				        if (response == true){
							element.style.color=colour;
					        window.createNotification({
				    			closeOnClick: 1,
				    			displayCloseButton: 0,
				    			positionClass: "nfc-bottom-right",
				    			showDuration: false,
				    			theme: "info"
				      		})({
				      			title: "Updated settings",
				      			message: "Setting updated successfully"
					      	  });
						}
						else {
							element.style.color = colour;
							element.value = currentval;
							window.createNotification({
				    			closeOnClick: 1,
				    			displayCloseButton: 0,
				    			positionClass: "nfc-bottom-right",
				    			showDuration: false,
				    			theme: "info"
				      		})({
				      			title: "Updated settings",
				      			message: "Setting failed to update"
					      	});
						}
				      }
			    });
				$.dialog('Confirmed!');
			 },
	        cancel: function () {
	            $.dialog('Canceled!');
	        },
	    }
	  });
  	}
  getMin(){
	  if (this.element.min) return this.element.min;
	  else return null;
  }
  getMax(){
	  if (this.element.max) return this.element.max;
	  else return null;
  }
}

/*

fio_controller       = new gauge_controller("fio_gauge");
p_plateau_controller = new gauge_controller("p_plateau_gauge");

var peep_input = document.getElementById("peep");
peep_controller = new input_controller("peep", peep_input);
var ie_ratio_input = document.getElementById("inhale_exhale_ratio");

*/

/*
var gauge_fio_container = document.getElementById("gauge-fio-container");
Object.defineProperty(gauge_fio_container, 'doChange', {
  value: function(x){
	  setGaugeValue("fio_gauge",x);
	},
  configurable: true 
});
Object.defineProperty(gauge_fio_container, 'getValue', {
  value: function(){
	  return getGaugeValue("fio_gauge");
	},
  configurable: true 
});
*/



function openTab(el, cityName, force) {
 if (el.disabled && (!force)) return;
 if (el.parentElement.disabled && (!force)) return;
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  el.className += " active";
}

$(document).ready ( function(){
  var tablinks = document.getElementsByClassName("tablinks");
  if (tablinks.length > 0){
    openTab(tablinks[0],"Main", true);
  }
});
function format_ie(thisElement,ie_cont)
{
    if (thisElement.disabled) return;
    var value = ie_cont.getValue()
    var posColon = value.search(":");
    console.info("format_ie value",value,"posColon",posColon);
    var ratio = -1.;
    if ( posColon != -1 ) {
	// set back to just a number 1.2:1 or 1:1.5 to 1/1.2 or 1.5/1 repspectively
	ratio = parseFloat(value.substr(posColon+1))/parseFloat(value.substr(0,posColon));
    }else{
	ratio = parseFloat(value);
    }
    ie_cont.setValueNoFormat(ratio.toString());
    show_easy_numpad(thisElement,ie_ratio_controller);   
}

class input_controller_ie extends input_controller{
    setValue(val){
	var posColon = val.search(":");
	if( posColon != -1 ) {
	    // already have colon...
	    el.value = val;
	}else{
	    var ratio = parseFloat(val);
	    if( ratio < 1 ){
		var invRatio = (1/ratio);
		invRatio.toFixed(1); // in case of 0.75 -> 1.3333333333333333333:1 formating problems
		this.element.value = invRatio.toString() + ":1";
	    }else{
		this.element.value = "1:"+val;
	    }
	}
    }
    setValueNoFormat(val){
		this.element.value = val;
    }
}

//var ie_ratio_controller = new input_controller_ie("ie_ratio", ie_ratio_input);

</script>



{% endblock %}
