{% set logs_active = True %}
{% extends 'base.html' %}


{% block content %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

<main>
  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->


      <table id="HEV_logs">
        <thead>
            <tr>
                <th>Date and time</th>
                <th>Alarm message</th>
                <th>Aknowledge</th>


            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
    <button type="button" id="update_button" style="background-color:gray; border-color:blue; color:white">Update alarms</button>
    <button type="button" id="ack_alarms"   style="background-color:gray; border-color:blue; color:white">Aknowledge alarms</button>

  </div>
</main>

<script>
var logging;

function convertTimestamp(timestamp) {
  date = new Date(timestamp);
  var h = date.getHours();
	var m = date.getMinutes();
	var s = date.getSeconds();
  return (("0"+date.getDate()).slice(-2)) +"."+ (("0"+(date.getMonth()+1)).slice(-2)) +"."+ (date.getFullYear()) 
         + ' &emsp; ' +	 h + ":" + m + ":" + s; ;
}


function requestAlarms() {
  $.getJSON({
      url: '/live-alarms',
      success: function(data) {
         if (data.alarms != "none") {
            var table = document.getElementById("HEV_logs");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);

            cell1.innerHTML = convertTimestamp(data.created_at)
            cell2.innerHTML = data.alarms;
            cell3.innerHTML =  '<button type="button" id="ack"   style="background-color:gray; border-color:blue; color:white">Ack</button>';

         }
         
      },
      cache: false
  });
   // call it again after one second
   alarmLogs = setTimeout(requestAlarms, 1000);

}


function update_logs() {
    clearInterval(alarmInterval);
    requestAlarms();
  }

var obj = {{result.data|tojson|safe}}
// Reversing array so that the most recent number is on top
var last_results = JSON.parse(obj).reverse();

var table = document.getElementById("HEV_logs");
var i;
for (i=0; i<last_results.length; i++) {
  var row = table.insertRow(1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  cell1.innerHTML = convertTimestamp(last_results[i][0]);
  cell2.innerHTML = last_results[i][1];
}

var button_state = false ;

document.getElementById('update_button').onclick = function(){
  if (button_state == false) {
    this.style.backgroundColor = "green";
    button_state = true;
    update_logs();
  } else {
    this.style.backgroundColor = "gray";
    button_state = false;
    clearInterval(alarmLogs);
  }
}


</script>


{% endblock %}
