{% set settings_active = True %}
{% extends 'base.html' %}

{% block content %}
<div class="container text-white">
  
  <div class="tab d-none">
    <button class="tablinks" onclick="openSetting(this, 'mode')">Mode</button>
    <button class="tablinks" onclick="openSetting(this, 'pcac')">PC-A/C</button>
    <button class="tablinks" onclick="openSetting(this, 'prvc')">PC-A/C-PRVC</button>
    <button class="tablinks" onclick="openSetting(this, 'psv')">PC-PSV</button>

  </div>
  
  <!-- Tab content -->
  <div id = "mode" class = "tabcontent">
    <div class = "select-container lockable">
      <select class = "input-reading ml-auto mr-auto pickout" name="VentilatorMode" id="vent_mode" pickouttitle="Select Setting" placeholder = "Select Settings to Edit" width="10%">
        <option value = "">Select Setting</option>
        <option value = "personal">Personal Details</option>
          <option value="pcac">PC-A/C</option>
          <option value="prvc">PC-A/C-PRVC</option>
          <option value="psv">PC-PSV</option>
          <option value="cpap">CPAP</option>
          <option value = "test">TEST</options>
      </select>
    </div>
  </div>
  <div id="personal" class="tabcontent">
    <form method="post" id = "personal-settings-form">
        <table class = "ml-auto mr-auto">
      <tr><td><label class="small" for="personal_name">Name</label></td><td><input class="form-control py-1 lockable" id="personal_name" type="name" value="John Smith" name="name" disabled/></td></tr>
      <tr><td><label class="small" for="personal_age">Age</label></td><td><input class="form-control py-1 lockable" id="personal_age" type="number" value=87 name="age" disabled/></td></tr>
      <tr><td><label class="small" for="personal_sex">Sex</label></td><td>
                      <select class="form-control py-1 lockable" id="personal_sex" name="sex" disabled >
                              <option value='M' selected>M</option>
                              <option value='F'>F</option>
                      </select>
              </td></tr>
      <tr><td><label class="small" for="personal_height">Height (cm)</label></td><td><input class="form-control py-1 lockable" id="personal_height" type="number" value=180 name="height" disabled/></td></tr>
      <tr><td><label class="small" for="personal_weight">Weight (kg)</label></td><td><input class="form-control py-1 lockable" id="personal_weight" type="number" value=80 name="weight" disabled/></td></tr>
        </table>
        <input class="form-button py-2 float-bottom-right" type="submit" value="Update Settings">
    </form>
  </div>

  <div id="pcac" class="tabcontent">
  <form id="pcac-settings-form" class="settings-forms">
    <table class = "ml-auto mr-auto">
    <tr>
    <td></td>
    <td></td>
    <td>Set Target</td>
    </tr>
      <tr>
        <td></td>
        <td><label class="small">Respiratory Rate</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_respiratory_rate" type="number" step = "any" value="" name="Respiratory Rate" disabled/></td>
      </tr>
      <tr>
        <td><input type="radio" name="time_or_ie" id = "pcac_radio_inhale_time" onclick = "edit_inhale_time(this)" checked></td>
        <td><label class="small" for="pcac_radio_inhale_time">Inhale Time</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_inhale_time" type="number" step = "any"  value="" disabled name='Inhale Time' /></td>
      </tr>
        <tr>
        <td><input type="radio" name="time_or_ie" id = "pcac_radio_ie_ratio" onclick="edit_ie_ratio(this)"></td>
        <td><label class="small" for="pcac_radio_ie_ratio">I:E Ratio</label></td>
        <td><input class="form-control py-1 lockOnly" id="pcac_setting_ie_ratio" type="number" step = "any"  value="" disabled name='Inhale:Exhale Ratio' /></td>
      </tr>
      <tr>
        <td></td>
        <td><label class="small">Inhale Trigger Sensitivity</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_inhale_trigger_threshold" step = "any"  type="number" value="" name = "Inhale Trigger Sensitivity" disabled /></td>
      </tr>
      <tr>
        <td></td>
        <td><label class="small">Exhale Trigger Sensitivity</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_exhale_trigger_threshold" step = "any" type="number" value="" disabled name = "Exhale Trigger Sensitivity" /></td>
      </tr>
      <tr>
        <td></td>
        <td><label class="small">Inhale Pressure</label></td>
        <td><input name="Inhale Pressure" class="form-control py-1 lockable" id="pcac_setting_inspiratory_pressure" step = "any" type="number" value="" disabled /></td>
      </tr>
      <tr>
        <td></td>
        <td><label class="small">Inhale Volume</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_inhale_volume" type="number" step = "any" value="" disabled name="Inhale Volume"/></td>
      </tr>
      <tr>
        <td></td>
        <td><label class="small">PEEP</label></td>
        <td><input class="form-control py-1 lockable" id="pcac_setting_peep" type="number" step = "any" value="" disabled name = "PEEP"/></td>
      </tr>
    </table>
      <input class="form-button py-2 float-bottom-right" type="submit" value="Update Settings">
</form>
    </div>

    <div id="prvc" class="tabcontent">
      <form id="prvc-settings-form" class="settings-forms">
        <table class = "ml-auto mr-auto">
        <tr>
        <td></td>
        <td></td>
        <td>Target</td>
        </tr>
          <tr>
            <td></td>
            <td><label class="small">Respiratory Rate</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_respiratory_rate" type="number" step = "any" value="" name="Respiratory Rate" disabled/></td>
          </tr>
          <tr>
            <td><input type="radio" name="time_or_ie" id = "prvc_radio_inhale_time" onclick = "edit_inhale_time(this)" checked></td>
            <td><label class="small" for="prvc_radio_inhale_time">Inhale Time</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_inhale_time" type="number" step = "any"  value="" disabled name='Inhale Time' /></td>
          </tr>
            <tr>
            <td><input type="radio" name="time_or_ie" id = "prvc_radio_ie_ratio" onclick="edit_ie_ratio(this)"></td>
            <td><label class="small" for="prvc_radio_ie_ratio">I:E Ratio</label></td>
            <td><input class="form-control py-1 lockOnly" id="prvc_setting_ie_ratio" type="number" step = "any"  value="" disabled name='Inhale:Exhale Ratio' /></td>
          </tr>
          <tr>
            <td></td>
            <td><label class="small">Inhale Trigger Sensitivity</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_inhale_trigger_threshold" step = "any"  type="number" value="" name = "Inhale Trigger Sensitivity" disabled /></td>
          </tr>
          <tr>
            <td></td>
            <td><label class="small">Exhale Trigger Sensitivity</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_exhale_trigger_threshold" step = "any" type="number" value="" disabled name = "Exhale Trigger Sensitivity" /></td>
          </tr>
          <tr>
            <td></td>
            <td><label class="small">Inhale Pressure</label></td>
            <td><input name="Inhale Pressure" class="form-control py-1 lockable" id="prvc_setting_inspiratory_pressure" step = "any" type="number" value="" disabled /></td>
          </tr>
          <tr>
            <td></td>
            <td><label class="small">Inhale Volume</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_volume" type="number" step = "any" value="" disabled name="Inhale Volume"/></td>
          </tr>
          <tr>
            <td></td>
            <td><label class="small">PEEP</label></td>
            <td><input class="form-control py-1 lockable" id="prvc_setting_peep" type="number" step = "any" value="" disabled name = "PEEP"/></td>
          </tr>
        </table>
          <input class="form-button py-2 float-bottom-right" type="submit" value="Update Settings">
    </form>
        </div>
  
        <div id="psv" class="tabcontent">
          <form id="psv-settings-form" class="settings-forms">
            <table class = "ml-auto mr-auto">
            <tr>
            <td></td>
            <td></td>
            <td>Target</td>
            </tr>
              <tr>
                <td></td>
                <td><label class="small">Respiratory Rate</label></td>
                <td><input class="form-control py-1 lockable" id="psv_setting_respiratory_rate" type="number" step = "any" value="" name="Respiratory Rate" disabled/></td>
              </tr>
              <tr>
                <td><input type="radio" name="time_or_ie" id = "psv_radio_inhale_time" onclick = "edit_inhale_time(this)" checked></td>
                <td><label class="small" for="psv_radio_inhale_time">Inhale Time</label></td>
                <td><input class="form-control py-1 lockable" id="psv_setting_inhale_time" type="number" step = "any"  value="" disabled name='Inhale Time' /></td>
              </tr>
                <tr>
                <td><input type="radio" name="time_or_ie" id = "psv_radio_ie_ratio" onclick="edit_ie_ratio(this)"></td>
                <td><label class="small" for="psv_radio_ie_ratio">I:E Ratio</label></td>
                <td><input class="form-control py-1 lockOnly" id="psv_setting_ie_ratio" type="number" step = "any"  value="" disabled name='Inhale:Exhale Ratio' /></td>
              </tr>
              <tr>
                <td></td>
                <td><label class="small">Inhale Trigger Sensitivity</label></td>
                <td><input class="form-control py-1 prvc-edit psv-edit psv-edit lockable" id="psv_setting_inhale_trigger_threshold" step = "any"  type="number" value="" name = "Inhale Trigger Sensitivity" disabled /></td>
              </tr>
              <tr>
                <td></td>
                <td><label class="small">Exhale Trigger Sensitivity</label></td>
                <td><input class="form-control py-1 psv-edit lockable" id="psv_setting_exhale_trigger_threshold" step = "any" type="number" value="" disabled name = "Exhale Trigger Sensitivity" /></td>
              </tr>
              <tr>
                <td></td>
                <td><label class="small">Inhale Pressure</label></td>
                <td><input name="Inhale Pressure" class="form-control py-1 psv-edit psv-edit lockable" id="psv_setting_inspiratory_pressure" step = "any" type="number" value="" disabled /></td>
              </tr>
              <tr>
                <td></td>
                <td><label class="small">Inhale Volume</label></td>
                <td><input class="form-control py-1 prvc-edit lockable" id="psv_setting_volume" type="number" step = "any" value="" disabled name="Inhale Volume"/></td>
              </tr>
              <tr>
                <td></td>
                <td><label class="small">PEEP</label></td>
                <td><input class="form-control py-1 prvc-edit psv-edit psv-edit lockable" id="psv_setting_peep" type="number" step = "any" value="" disabled name = "PEEP"/></td>
              </tr>
            </table>
              <input class="form-button py-2 float-bottom-right" type="submit" value="Update Settings">
        </form>
            </div>
            <div id="test" class="tabcontent">
              <form id="test-settings-form" class="settings-forms">
                <table class = "ml-auto mr-auto">
                <tr>
                <td></td>
                <td></td>
                <td>Set Target</td>
                </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">Respiratory Rate</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_respiratory_rate" type="number" step = "any" value="" name="Respiratory Rate" disabled/></td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="time_or_ie" id = "test_radio_inhale_time" onclick = "edit_inhale_time(this)" checked></td>
                    <td><label class="small" for="test_radio_inhale_time">Inhale Time</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_inhale_time" type="number" step = "any"  value="" disabled name='Inhale Time' /></td>
                  </tr>
                    <tr>
                    <td><input type="radio" name="time_or_ie" id = "test_radio_ie_ratio" onclick="edit_ie_ratio(this)"></td>
                    <td><label class="small" for="test_radio_ie_ratio">I:E Ratio</label></td>
                    <td><input class="form-control py-1 lockOnly" id="test_setting_ie_ratio" type="number" step = "any"  value="" disabled name='Inhale:Exhale Ratio' /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">Inhale Trigger Sensitivity</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_inhale_trigger_threshold" step = "any"  type="number" value="" name = "Inhale Trigger Sensitivity" disabled /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">Exhale Trigger Sensitivity</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_exhale_trigger_threshold" step = "any" type="number" value="" disabled name = "Exhale Trigger Sensitivity" /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">Inhale Pressure</label></td>
                    <td><input name="Inhale Pressure" class="form-control py-1 lockable" id="test_setting_inspiratory_pressure" step = "any" type="number" value="" disabled /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">Inhale Volume</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_volume" type="number" step = "any" value="" disabled name="Inhale Volume"/></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><label class="small">PEEP</label></td>
                    <td><input class="form-control py-1 lockable" id="test_setting_peep" type="number" step = "any" value="" disabled name = "PEEP"/></td>
                  </tr>
                </table>
                  <input class="form-button py-2 float-bottom-right" type="submit" value="Update Settings">
            </form>
                </div>
            
            
          </div>

{% endblock %}

{% block body_scripts %}


<script src="{{ url_for('static', filename='js/Chart-display.js') }}"></script>
<script src="{{ url_for('static', filename='js/HevUpdater.js') }}"></script>

<script type=text/javascript>
// get all of the elements and decide which are to be unlocked
function unlock_mode_elements(mode){
  //disable all of our ventilator mode options first
  var ventOptions = document.querySelectorAll('.prvc-edit,.psv-edit,.pcac-edit');
  for (let i = 0 ; i < ventOptions.length; i++) { 
    ventOptions[i].disabled=true;
    ventOptions[i].classList.remove("unlockOnly");
  }
  // now have a go at enabling
  var unlock_elements = document.getElementsByClassName(mode+"-edit");
  for (let i = 0 ; i < unlock_elements.length; i++){ 
    unlock_elements[i].disabled = false;
    ventOptions[i].classList.add("unlockOnly");
  }

}

var object = document.getElementById("vent_mode");
object.addEventListener("change", function(){
  var object = document.getElementById("vent_mode");
  var opt = object.options[object.selectedIndex];
  console.log(opt.value);
  openSettingContent(opt.value);

});


function edit_ie_ratio(element){
  if (unlocked){
    var radio_id = element.id;
    var ie_ratio_id    = radio_id.replace("radio","setting");
    var inhale_time_id = radio_id.replace("radio_ie_ratio", "setting_inhale_time");
    var ie_ratio_input = document.getElementById(ie_ratio_id);
    var inhale_time_input    = document.getElementById(inhale_time_id);
    ie_ratio_input.disabled = false;
    inhale_time_input.disabled = true;
  }
}
function edit_inhale_time(element){
  if (unlocked){
    var radio_id = element.id;
    var ie_ratio_id    = radio_id.replace("radio_inhale_time","setting_ie_ratio");
    var inhale_time_id = radio_id.replace("radio", "setting");
    var ie_ratio_input = document.getElementById(ie_ratio_id);
    var inhale_time_input    = document.getElementById(inhale_time_id);
    ie_ratio_input.disabled = true;
    inhale_time_input.disabled = false;
  }
}


function sendCmd(var_name, var_value) {
  var buffer = {name : var_name, value : var_value};
  $.ajax({
        type: "POST",
        url:"/data_handler",
        data: JSON.stringify(buffer)   // converts js value to JSON string
        })    
};

function updateSettings(event, name){
  var message = "You are about to update the following settings for "+name+" mode";
  var jsonForm = {};
  $("input[type=number]:enabled", $(event.target)).each(function(index){
    if(this.value!="") {
      jsonForm[$(this).attr("id")] = this.value;
      message += "<br> "+this.name + " " + this.value;
    }
  });
  if (Object.keys(jsonForm).length == 0){
    $.dialog("No New Settings Chosen, Not Updating");
    event.preventDefault();
    return;
  }

  $.confirm({
  	title: 'Confirmation',
		content: message,
	  buttons: {
	    confirm: function () {
        $.ajax({
          url: "/target_handler",
          type: 'POST',
          data : jsonForm,
          success: function(response){
            if (response == true){
              $.dialog('Settings Updated');
            }
            else{
              $.dialog("Problem updating settings, please try again");
            }
          }
        });
      },
	    cancel: function () {
	      $.dialog('Canceled!');
	    },
	  }
  });
  event.preventDefault();

}

function updatePersonal(event){
  var message = "You are about to update the following personal details";
  var jsonForm = {};
  $("input", $(event.target)).each(function(index){
    if(this.value!="") {
      jsonForm[$(this).attr("id")] = this.value;
      message += "<br> "+this.name + " " + this.value;
    }
  });
  $("select", $(event.target)).each(function(index){
    if(this.value!="") {
      jsonForm[$(this).attr("id")] = this.value;
      message += "<br> "+this.name + " " + this.value;
    }
  });
  if (Object.keys(jsonForm).length == 0){
    $.dialog("No New Details Chosen, Not Updating");
    event.preventDefault();
    return;
  }

  $.confirm({
  	title: 'Confirmation',
		content: message,
	  buttons: {
	    confirm: function () {
        $.ajax({
          url: "/personal_data_handler",
          type: 'POST',
          data : jsonForm,
          success: function(response){
            if (response == true){
              $.dialog('Personal Details Updated');
            }
            else{
              $.dialog("Problem updating settings, please try again");
            }
          }
        });
      },
	    cancel: function () {
	      $.dialog('Canceled!');
	    },
	  }
  });
  event.preventDefault();

}

$('#personal-settings-form').submit(event, function(){
  updatePersonal(event);
});
$('#pcac-settings-form').submit(event, function(){
  updateSettings(event,"PC-AC");
});
$('#prvc-settings-form').submit(event, function(){
  updateSettings(event,"PC-PR/VC");
});
$('#psv-settings-form').submit(event, function(){
  updateSettings(event,"PC-PSV");
});
$('#test-settings-form').submit(event, function(){
  updateSettings(event,"TEST");
});


/*
$('.settings-form').submit(event, function(){
    $.ajax({
      url: "/data_handler",
      type: 'POST',
      data : $(event.target).serialize(),
      success: function(response){
        if (response == true){
          window.createNotification({
    			closeOnClick: 1,
    			displayCloseButton: 0,
    			positionClass: "nfc-bottom-right",
    			showDuration: false,
    			theme: "info"
      		})({
      			title: "Updated settings",
      			message: "Settings updated successfully"
      	  });
        }
      }
    });
    event.preventDefault();
});
*/

function openSettingContent(cityName) {
  // Declare all variables
  var i, tabcontent;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Show the current tab, and add an "active"
  document.getElementById(cityName).style.display = "block";
}
function openSetting(el, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  el.className += " active";
}

  class input_controller{
	constructor(name, element) {
    this.name = name;
	this.element = element;
  }
  getName(){ return this.name;}
  getValue() {
    return this.element.value;
  }
  setValue(val){
    //e.g.
    window.createNotification({
			closeOnClick: 1,
			displayCloseButton: 0,
			positionClass: "nfc-bottom-right",
			showDuration: false,
			theme: "info"
		})({
			title: "Updated settings",
			message: "Setting updated from " + this.element.value + " to " + val + " for " + this.name
	  });
	  this.element.value = val;
    sendCmd(this.name, val);
  }
  getMin(){
	  if (this.element.min) return this.element.min;
	  else return null;
  }
  getMax(){
	  if (this.element.max) return this.element.max;
	  else return null;
  }
}

var settings = ["respiratory_rate", "peep", "ie_ratio", "inhale_time", "inhale_trigger_threshold", "exhale_trigger_threshold","fio2_percent","volume", "inspiratory_pressure"];

//var targets = ["mode", "inspiratory_pressure", "ie_ratio", "volume", "respiratory_rate", "peep", "fiO2_percent", "inhale_time", "inhale_trigger_threshold", "exhale_trigger_threshold", "buffer_upper_pressure", "buffer_lower_pressure"]

$(document).ready(function(){
  var tablinks = document.getElementsByClassName("tablinks");
  if (tablinks.length > 0){
    openSetting(tablinks[0],"mode");
  }
	$.ajax({
	  url: '/last-targets',
	  success: function(data) {
      console.log("GOT DATA")
  		if (data.length == 0) {
        // we've not got any targets
        console.log("Got no targets");
      } else
	    {
        for (let i = 0 ; i < data.length; i++){
          var target = data[i];
          if (target["mode"] == "TEST"){
            console.log("target: ",target);
            for (let j = 0 ; j < settings.length; j++){
              var element = document.getElementById("test_setting_"+settings[j]);
              if (settings[j] in target && element){
                element.value = target[settings[j]].toPrecision(4);
              }
            }
          }
          if (target["mode"] == "PC_AC"){
            for (let j = 0 ; j < settings.length; j++){
              var element = document.getElementById("pcac_setting_"+settings[j]);
              if (settings[j] in target && element){
                element.value = target[settings[j]].toPrecision(4);
              }
            }
          }
          if (target["mode"] == "PC_AC_PRVC"){
            for (let j = 0 ; j < settings.length; j++){
              var element = document.getElementById("prvc_setting_"+settings[j]);
              if (settings[j] in target && element){
                element.value = target[settings[j]].toPrecision(4);
              }
            }
          }
          if (target["mode"] == "PC_AC_PSV"){
            for (let j = 0 ; j < settings.length; j++){
              var element = document.getElementById("psv_setting_"+settings[j]);
              if (settings[j] in target && element){
                element.value = target[settings[j]].toPrecision(4);
              }
            }
          }
          if (target["mode"] == "CPAP"){
            for (let j = 0 ; j < settings.length; j++){
              var element = document.getElementById("cpap_setting_"+settings[j]);
              if (settings[j] in target && element){
                element.value = target[settings[j]].toPrecision(4);
              }
            }
          }

        }
  		}
    },
	  cache: false
  });

  var personals = ["name", "age", "sex", "height", "weight"];
  $.ajax({
	  url: '/last-personal',
	  success: function(data) {
		  if (data.length == 0) {
      // we're not getting any new data from the hevserver
      console.log("Got no new personal details");
	    } else
	    {
        console.log(data);
        for (let j = 0 ; j < personals.length; j++){
              var element = document.getElementById("personal_"+personals[j]);
              console.log("personal_setting_"+personals[j],element);
              if (personals[j] in data && element){
                element.value = data[personals[j]];
              }
            }
			}
		},
	  cache: false
	});
});



pickout.to({
  el:'.pickout',
  theme:'MySelector'
  });

buff_fill_controller = new input_controller("buff_fill", document.getElementById("buff_fill"));
buff_flush_controller = new input_controller("buff_flush", document.getElementById("buff_flush"));
buff_loaded_controller = new input_controller("buff_loaded", document.getElementById("buff_loaded"));
buff_prefill_controller = new input_controller("buff_prefill", document.getElementById("buff_prefill"));
buff_preinhale_controller = new input_controller("buff_pre_inhale", document.getElementById("buff_pre_inhale"));
buff_purge_controller = new input_controller("buff_purge", document.getElementById("buff_purge"));
inhale_controller = new input_controller("inhale", document.getElementById("inhale"));
pause_controller = new input_controller("pause", document.getElementById("pause"));
exhale_controller = new input_controller("exhale", document.getElementById("exhale"));
exhale_fill_controller = new input_controller("exhale_fill", document.getElementById("exhale_fill"));


//valve_air_controller = new input_controller("valve_air", document.getElementById("valve_air"));
//valve_o2_controller = new input_controller("valve_o2", document.getElementById("valve_o2"));
//valve_inhale_controller = new input_controller("valve_inhale", document.getElementById("valve_inhale"));
//valve_exhale_controller = new input_controller("valve_exhale", document.getElementById("valve_exhale"));
//peep_controller = new input_controller("peep", document.getElementById("peep"));
//state_controller = new input_controller("state", document.getElementById("state"));
//rpm_controller = new input_controller("rpm", document.getElementById("rpm"));
//inhale_exhale_controller = new input_controller("inhale_exhale", document.getElementById("inhale_exhale"));
calibration_controller = new input_controller("calibration", document.getElementById("calibration"));



</script>

{% endblock %}
